<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?if $(var.Platform)="x64"?>
  <!--<?define ProductCode="{374D9223-026A-407D-B549-F027E77F267E}"?>-->
  <?define ProductCode="{9FA14EFC-1021-4C3E-8B45-593F0F752E1F}"?>
  <?else?>
  <!--<?define ProductCode="{E5B93625-348D-4BF5-ACE5-C65B34884DD0}"?>-->
  <?define ProductCode="{6665B10B-B0E6-4A3F-AB86-EAF85BDF9434}"?>
  <?endif?>

  <?define UpgradeCode = "{049092C0-8A44-4421-9916-152E140D52D3}" ?>

	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)"  
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
		<Package InstallerVersion="200" 
             Compressed="yes"
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>
    
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
		<MediaTemplate EmbedCab="yes" />
    
    <Icon Id="seti_logo.ico" SourceFile="$(var.ManufacturingInventory.ProjectDir)\Images\seti_logo.ico"/>
    <Property Id="ARPPRODUCTICON">seti_logo.ico</Property>
    
    <UIRef Id="WixUI_Minimal" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Assets\SETiLicense.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Assets\Background.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Assets\GermsBanner.jpg" />
    
		<Feature Id="ProductFeature" Title="ManufacturingInventory" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Product>
</Wix>
